html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

body {
    font: 17px/1.5 "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    color: #33333d;
    background: #fff;
}

.hidden {
    visibility: hidden;
}

.top {
    height: 100%;
}

.heading {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    margin-top: -120px;
}

.avatar {
    display: block;
    height: 200px;
    width: 200px;
    margin: 0 auto;
    background: url('./img/avatar.png') no-repeat;
    background-size: 100%;
}

.welcome {
    font-size: 16px;
    line-height: 40px;
}

.welcome .console {
    color: #e9b757;
}

.welcome .log {
    color: #34c3c9;
}

.welcome .content {
    color: #c06135;
}

/* 弹幕 */
.barrage {
    position: fixed;
    box-sizing: border-box;
    background: rgba(20, 20, 20, 0.4);
    height: 30px;
    line-height: 30px;
    padding: 0 20px;
    border-radius: 15px;
    white-space: nowrap;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;
}

.new-barrage {
    position: absolute;
    top: 20px;
    right: 20px;
}

.add-barrage {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 12px;
    cursor: pointer;
    border: 1px solid transparent;
    z-index: 5;
    background: rgba(255, 255, 255, 0.9);
}

.new-barrage:hover .add-barrage {
    border: 1px solid #eee;
    border-bottom: none;
}

.barrage-section {
    display: none;
    position: absolute;
    padding: 25px;
    right: 0;
    top: 35px;
    border: 1px solid #eee;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 1px 3px 0 #eee;
}

.new-barrage:hover .barrage-section {
    display: block;
}

.barrage-title {
    height: 35px;
    width: 200px;
    line-height: 35px;
    padding: 0 4px;
    border-radius: 4px;
    border: 1px solid #ccc;
    outline: none;
}

.send-barrage {
    display: block;
    height: 30px;
    width: 100px;
    border-radius: 4px;
    text-align: center;
    font-size: 14px;
    line-height: 30px;
    border: 1px solid #e9b757;
    color: #e9b757;
    margin-top: 10px;
    cursor: pointer;
}