<section class="top">
    <div class="heading">
        <div class="avatar"></div>
        <p class="welcome">
            <span class="console">console</span>.<span class="log">log</span>(<span class="content">'Hello world, X-Coder'</span>);
        </p>
    </div>
    <div class="new-barrage">
        <span id="add-barrage" class="add-barrage">
            <i class="fa fa-car" aria-hidden="true"></i>
        </span>
        <section class="barrage-section">
            <input class="barrage-title" type="text" placeholder="老司机，开什么车...">
            <span id="send-barrage" class="send-barrage">
                污污污
            </span>
        </section>
    </div>
</section>